@import "../../../styles/settings.scss";
.root {
  margin: 20px;
  display: flex;
}

.placeorder {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.placeorderInfo {
  flex: 3 1 60rem;

  .cartListContainer {
    padding: 0;
    list-style-type: none;
    padding: 1rem;

    li:first-child{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      }

    li {
      display: flex;
      justify-content: space-between;

      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom:.1rem #c0c0c0 solid;
      img {
        max-width: 10rem;
        max-height: 10rem;
        margin-right: 10px;
      }
    }
  }

}
.placeorderAction {
  flex: 1 1 20rem;
  border: 0.1rem #ff6b6b solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
  ul {
    padding: 0;
    list-style-type: none;

    li {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
    li:last-child {
      justify-content: center
    }
    }
  }
.placeorderInfo > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}
.placeorderInfo > div:first-child {
  margin-top: 0;
}

.placeorderActionsPayment > div {
  width: 100%;
}

.cartName{
  flex: 8 1;
}
.cartPrice{
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

.button {
  padding: 15px;
  &:hover {
    background-color: $text-color-prime;
    color: $text-color-light;
    border-color: $text-color-prime;
  }
}
