@import "../../../styles/settings.scss";

.root {
  margin: 20px;
  display: flex;

}

.profile {
  display: flex;
  flex-wrap: wrap;
}

.profileInfo {
  flex: 1 1 30rem;

  ul {
    list-style: none;

    li {
      margin: 1rem;
    }

    input {
      margin-left: 2rem;
    }
  }
}
.profileOrders {
  flex: 3 1 60rem;
}
