@import "../../../styles/settings.scss";

.root {
  .footerMenu {
    background-color: $bg-color-light;
    padding: 3rem 0;

    .menuWrapper {
      h5 {
        color: $text-color-light;
        text-transform: uppercase;
        margin: 0 0 1rem 0;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 1.5rem 0;
      text-transform: uppercase;

      li {

        a {
          font-size:  14px;
          line-height: 30px;
          color:  $text-color-light;
          text-decoration: none;
          &:hover {
            color: $text-color-prime;
          }
        }
      }
    }
  }

  .bottomBar {
    background-color: $bg-color-dark;
    padding: 10px 0;
    color: $text-color-light;

    .copyright {
      p {
        margin: 0;
        font-size: 0.8rem;
        line-height: 20px;
        margin-top: 0px;

      }
    }

    .socialMedia {
      ul {
        list-style: none;
        li {
          display: inline-block;
          margin-left: 1rem;
          a {
            font-size: 1.2rem;
            text-decoration: none;
            color: $text-color-light;
            &:hover {
              color: $text-color-prime
            }
          }
        }
      }
    }

  }
}
